:root {
  --first-headertext-color: #212121;
  --second-headertext-color: #757575;
  --footer-text-color: #FFFFFF;
  --main-title-color: #212121;
  --second-title-color: #FFFFFF;
  --main-subtitle-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #FFFFFF;
  --main-btn-color: #FFFFFF;
  --second-btn-color: #212121;
  --main-btn-background-color: #f5f4fa;
  --accent-btn-background-color: #2196f3;
  --second-footer-text: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1000ms, visibility 1000ms;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-250%, -50%);
          transform: translate(-250%, -50%);
  -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
  transition: -webkit-transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
  transition: transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
  transition: transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84), -webkit-transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
}

.modal {
  padding: 40px;
  width: calc(100% - 30px);
  min-height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
  transition: -webkit-transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
  transition: transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
  transition: transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84), -webkit-transform 1200ms cubic-bezier(0.62, 0.52, 0.57, 0.84);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #0000001A;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__input {
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  padding-left: 42px;
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}

.modal__input-wrap {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  margin-bottom: 20px;
}

.modal__input-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input-text::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-text:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-text::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-text::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .modal__check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #252525;
  border-radius: 2px;
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__check-icon {
  fill: #ffffff;
}

.modal__check:checked + .modal__check-text .modal__check-item {
  background-color: var(--accent-color);
  border: none;
}

.modal__policy-text {
  margin-left: 1px;
  color: var(--accent-color);
}

.modal__btn {
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 55px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo__part--dark {
  color: var(--main-subtitle-color);
}

.navigation__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-headertext-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.connect {
  display: none;
}

@media screen and (min-width: 768px) {
  .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .connect {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.connect__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-headertext-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}

.connect__mail:hover, .connect__mail:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .connect__mail {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0;
  }
}

.connect__mail-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-headertext-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__tel:hover, .connect__tel:focus {
  color: var(--accent-color);
}

.connect__phone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .connect__phone-icon {
    margin-left: 30px;
  }
}

.open-menu-btn {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.mobile-open-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 21px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 25px;
  z-index: 5;
}

.mobile-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close-menu-btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  margin-bottom: 8px;
}

.mobile-close-icon {
  width: 18px;
  height: 18px;
}

.mobile-close-icon:hover, .mobile-close-icon:focus {
  fill: var(--accent-color);
}

.mob-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-navigation__link:hover, .mob-navigation__link:focus {
  color: var(--accent-color);
}

.mob-connect {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mob-connect__tel {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) {
  .mob-connect__tel {
    font-size: 34px;
  }
}

.mob-connect__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
}

.dash-between {
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-img/mob/hero-img-mob-min.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/mob/hero-img-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-img/mob/hero-img-mob-min-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/mob/hero-img-mob-min-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-img/tab/hero-img-tab-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/tab/hero-img-tab-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-img/tab/hero-img-tab-2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/tab/hero-img-tab-2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-img/desc/hero-img-desc-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/desc/hero-img-desc-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-img/desc/hero-img-desc-2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/desc/hero-img-desc-2x-min.jpg);
  }
}

.hero__container {
  text-align: center;
  padding: 118px 0;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:focus, .hero__btn:hover {
  border: 2px solid #2196f3;
}

.description__icon-wrap {
  height: 120px;
  background-color: var(--main-btn-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__icon {
  width: 70px;
  height: 70px;
}

.description__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .description__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.description__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .description__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .description__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.description__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-subtitle-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .description__subtitle {
    text-align: left;
  }
}

.description__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.activities {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__item:not(:last-child) {
  margin-right: 30px;
}

.activities__item-wrap {
  position: relative;
}

.activities__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  width: 100%;
}

.team {
  background: #f5f4fa;
}

.members {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.members__card {
  margin-bottom: 30px;
}

.members__card img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .members__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .members__card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.members__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-bottom: 10px;
}

.members__role {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.members__container {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding: 30px 32px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

.contacts__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__left {
    width: auto;
  }
}

.footer__logo {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.logo__part--light {
  color: var(--second-accent-color);
}

.address {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--second-footer-text);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__address {
  color: #ffffff;
}

.connect__address:hover, .connect__address:focus {
  color: var(--second-accent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__center {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__center {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__center {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.invite__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer__right {
    width: 50%;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  color: var(--footer-text-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.subscribe__input::-webkit-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:-ms-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::-ms-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus {
  border-color: var(--second-accent-color);
}

.subscribe__input:focus::-webkit-input-placeholder {
  color: var(--second-accent-color);
}

.subscribe__input:focus:-ms-input-placeholder {
  color: var(--second-accent-color);
}

.subscribe__input:focus::-ms-input-placeholder {
  color: var(--second-accent-color);
}

.subscribe__input:focus::placeholder {
  color: var(--second-accent-color);
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  padding: 0 29px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.subscribe__btn:focus, .subscribe__btn:hover {
  border: 2px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.examples__filter {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .examples__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .examples__filter {
    margin-bottom: 50px;
  }
}

.examples__type {
  margin-right: 8px;
  margin-bottom: 15px;
  -ms-flex-preferred-size: calc(100% / 3 - 75px);
      flex-basis: calc(100% / 3 - 75px);
}

@media screen and (min-width: 768px) {
  .examples__type {
    -ms-flex-preferred-size: calc(100% / 5 - 75px);
        flex-basis: calc(100% / 5 - 75px);
    margin-bottom: 0;
  }
}

.examples__type-btn {
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  background-color: var(--main-btn-background-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  white-space: nowrap;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__type-btn:hover, .examples__type-btn:focus {
  color: var(--main-btn-color);
  background-color: var(--accent-btn-background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.grid__card {
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .grid__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .grid__card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.grid__card:hover .grid__card-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.grid__card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__card-link:hover, .grid__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__card-wrap {
  position: relative;
  overflow: hidden;
}

.grid__card-wrap img {
  width: 100%;
}

.grid__card-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.grid__card-subitem {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.grid__card-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-subtitle-color);
  margin-bottom: 4px;
}

.grid__card-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */