.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden{
    .modal {
        transform: translate(-250%, -50%);
        transition: transform 1200ms cubic-bezier(.62, .52, .57, .84);
    }
}

.modal {
    padding: 40px;
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1200ms cubic-bezier(.62, .52, .57, .84);

}

.modal__close-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

.modal__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal__field {
    margin-bottom: 10px;

}

.modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-text-color);

}

.modal__input {
    padding: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
    padding-left: 42px;
    &:focus {
        border-color: var(--accent-color);
        &+.modal__input-icon {
            fill: var(--accent-color);
        }
    }
}

.modal__input-wrap {
    position: relative;
}

.modal__input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
    margin-bottom: 20px;
}

.modal__input-text {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &::placeholder {
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__checkbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.modal__check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
}

.modal__check-item {
    width: 16px;
    height: 15px;
    border: 2px solid #252525;
    border-radius: 2px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__check-icon {
    fill: #ffffff;
}

.modal__check:checked+.modal__check-text{
    .modal__check-item {
    background-color: var(--accent-color);
    border: none;
    }
}

.modal__policy-text {
    margin-left: 1px;
    color: var(--accent-color);
}

.modal__btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 55px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #2196f3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        transform: scale(1.005);
    }
}
