:root {
    --first-headertext-color: #212121;
    --second-headertext-color: #757575;
    --footer-text-color: #FFFFFF;
    --main-title-color: #212121;
    --second-title-color: #FFFFFF;
    --main-subtitle-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196f3;
    --second-accent-color: #FFFFFF;
    --main-btn-color: #FFFFFF;
    --second-btn-color: #212121;
    --main-btn-background-color: #f5f4fa;
    --accent-btn-background-color: #2196f3;
    --second-footer-text: rgba(255, 255, 255, 0.6);
}